body {
  max-width: 1200px;
  margin: 0 auto;
}

.navigasjonsbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5%;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: #000;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    margin: 1%;
  }
  
  .footer p {
    padding: 0%;
    margin: 2%;
  }
  
  .overskrifter {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin: 1%;
  }
    /* Stiler for ul-liste med ikoner */

  .overskrifter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* Stiler for ul-liste med ikoner */
  .sosialemedier-liste {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .Adresse {
    display: flex;
    gap: 10px;
    font-size: 20px;
  }
  
  .sosialemedier {
    margin: 2%;
  }
  
  .søkefelt {
    height: 40px;
    font-size: 20px;
    width: 80%;
  }
  
  .søkeknapp {
    font-size: 25px;
    margin: 1%;
  }
  
  .produktbilde {
    height: 100%;
    width: 100%;
  }
  
  .produktnavn {
    font-size: 20px;
    font-weight: bold;
    margin: 1%;
  }

  .produktdetaljer {
    display: flex;
    justify-content: space-between;
  }

  .merkenavn {
    font-size: 20px;
    margin: 1%;
  }

  .farge {
    font-size: 20px;
    margin: 1%;
  }

  .produktpriser {
    font-size: 20px;
    margin: 1%;
  }

  .Kategorieoverskrift {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 35px;
  }

  .anmeldelseroverskrift {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 35px;
  }

  .anmeldelsesbilde {
    height: 120px;
    border-radius: 5%;
  }

  .anmeldelsenavn {
    font-weight: bold;
    font-size: 20px;
    margin: 0%;
  }

  .anmeldelse {
    margin: 0%;
  }


  .anmeldelseseksjon {
    display: grid;
    gap: 2%;
    margin-top: 5%;
  }
  ul{
    list-style: none;
  }
  li{
    list-style:none ;
  }

  .promotering {
  height: 400px;
  background-color: rgb(185, 178, 178);
  color: black;
  padding: 10%;
  font-size: large;
  margin-bottom: 5%;
  }

  .promotering button{
  border-color: red;
  height: 50px;
  width: 150px;
  font-size: large;
  cursor: pointer;
  }

  .reklame {
    text-align: center;
  }

  .bokser {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  }

  .boks {
    height: 100px;
    width: 30%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .likeprodukter {
    text-align: center;
  }

  .handlekurvoverskrift{
    text-align: center;
  }

  .menylinjen{
    display: flex;
    gap: 3%;
    font-size: 20px;
  }

  .menylinjen a {
    display: flex;
    gap: 3%;
    font-size: 20px;
  }


  .shippingoverskrift {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .shippingoverskrift input {
    height: 35px;
  }

  .shippingoverskrift button {
    background-color: black;
    color: white;
    width: 100px;
    height: 35px;
  }

  .shippingforslag {
    font-size: 20px;
  }

  .shipping {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 10px;
  }

  
  

  @media screen and (min-width: 1024px) {
    .navigasjonsbar {
      display: flex;
      flex-direction: row;
      gap: 2%;
    }
    
    .footerseksjoner {
      display: grid;
      grid-template-columns: 33% 33% 33%;
     
    }

    .produktseksjoner {
      display: grid;
      grid-template-columns: 28% 28% 28%;
      gap: 7%;
      margin-bottom: 15%;
      row-gap: 60px;
    }
  }

  

