* { box-sizing: border-box; 
  

}
body {
  max-width: 1200px;
  margin: 0 auto;
  font-family:Arial, Helvetica, sans-serif;
  padding: 5%;
}
.container{
  /* display: grid; */
  grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
  grid-template-columns: auto;
}
/* navigasjonen */
.navigasjonsbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5%;
}

.navliste {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  white-space: nowrap;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: #000;

}

.søkefelt-ikon {
width: 25%;
position: relative;

}

.søkefelt {
  height: 32px;
  padding: 1%;
  font-size: 12px;
  width: 100%;
  border-radius: 25px;
  border: 1.5px solid black;
  outline: none;
}

.søkeknapp {
  font-size: 14px;
  margin: 1%;
  position: absolute;
  right: 12px;
  top: 25%;
}

/* styling for footer */

.footer {
  display: block;                    
  flex-direction: column;            
  gap: 30px;                         
  padding: 30px;                     
  border-top: 1.5px solid rgb(161, 161, 161);
}


.footer-logo-seksjon {
  p{
      margin-top: 0;
  }
  .footer-logo{
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 5px;
  }
}

/* Footerseksjoner (kontakt, snarveier, sosiale medier) */
.footerseksjoner {
  
  display: flex;                     
  justify-content: space-between;
  align-items: baseline;           
}

.footerseksjoner h4 {
  margin-bottom: 10px;                /* Litt plass under overskriften */
}

/* Fotlister - listen som inneholder informasjon */
.sosialemedier-ikoner {
  display: flex;
  gap: 10px;
 
}
.fotlister {
  list-style-type: none;              
  padding: 0;                        
  margin: 0;                          
  a{
      color: #000;
      text-decoration: none;
  }
}
.kontakt-info{

  li{
      display: flex;
      align-items: baseline;
      gap: 5px;
      margin-bottom: 10px;
      i{
          margin-right: 10px;
      }
  }
}
/*  */


/*hovedinhold index.html  */

.promotering {
  height: 400px;
  background-color: rgb(185, 178, 178);
  color: black;
  padding: 10%;
  font-size: large;
  margin-bottom: 5%;
  border-radius: 25px;
  text-align: right;
  position: relative;
}

.button {
  display: inline-block;
  padding: 17px 20px;
  background-color: white; /* Farge på knappen */
  color: black; /* Tekstfarge */
  border-radius: 1000px;
  text-decoration: none; /* Fjerner understrek på lenker */
  font-weight: bold;
  font-size: 20px;
}

.button:hover {
  background-color: #030303; /* Farge ved hover */
  color: white;
}

.piler-venstre {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 15px 15px;
  border-radius: 50%;
  opacity: 60%;
  position: absolute;
  left: 1%;
  top: 45%;
}

.piler-høyre {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 15px 15px;
  border-radius: 50%;
  opacity: 60%;
  position: absolute;
  right: 1%;
  top: 45%;
}



/* produkter */

.produktbilde {
  width: 100%;
  border-radius: 25px;
}

.produktnavn {
  font-size: 18px;
  font-weight: bold;
  margin: 1%;
}

.produkt-navn-pris {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 5%;
  margin-top: 2%;
}

.produktpriser {
  font-size: 18px;
  margin: 1%;
  font-weight: normal;
}

.produktseksjoner {

}

/* anmeldelser */
.anmeldelseroverskrift {
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
  font-size: 35px;
}

.anmeldelser {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5%;
  border-radius: 20px;
  row-gap: 5px;
}

.anmeldelseseksjon {
    display: grid;
    justify-content: space-between;
    margin-top: 2%;
    grid-template-columns: 24% 24% 24% 24%;
    margin-bottom: 5%;
}
 
.anmeldelsesbilde {
  border-radius: 50%;
  height: 100px;
}

.anmeldelsenavn {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.anmeldelse {
 margin-top: 5%;
}


/*  */


/* hovedinhold produktsiden () */

.menylinjen {
  display: flex;
  gap: 3%;
  font-size: 20px;
}

.menylinjen a {
  display: flex;
  gap: 3%;
  font-size: 20px;
}

.lignendeprodukter {
  text-align: center;
}


.produktdetaljer {
  display: flex;
  justify-content: space-between;
}





.merkenavn {
  font-size: 20px;
  margin: 1%;
}

.farge {
  font-size: 20px;
  margin: 1%;
}

/*  */




.Kategorieoverskrift {
  /* display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; */
  font-size: 35px;
}










ul {
  list-style: none;
}

li {
  list-style: none;
}


.reklame {
  text-align: center;
}

.bokser {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.boks {
  height: 100px;
  width: 30%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}



.handlekurvoverskrift {
  text-align: center;
}




.shippingoverskrift {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.shippingoverskrift input {
  height: 35px;
}

.shippingoverskrift button {
  background-color: black;
  color: white;
  width: 100px;
  height: 35px;
}

.shippingforslag {
  font-size: 20px;
}

.shipping {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 10px;
}

/*    */




@media screen and (min-width: 1024px) {
  .navigasjonsbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .footerseksjoner {
    display: grid;
    grid-template-columns: 33% 33% 33%;

  }

  .produktseksjoner {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    justify-content: space-between;
    margin-bottom: 15%;
    row-gap: 60px;
  }
}